# Dependencies
node_modules/

# Logs
*.log

# Environment
.env
.env.*

# Build
dist/
build/
coverage/

# Turbo
.turbo/

# VS Code
.vscode/*.code-workspace

# OS
.DS_Store
Thumbs.db

# Misc
*.tmp
*.temp
